.tp-plugin__topology_node_badge rect {
  fill: var(--pf-t--global--color--brand--default);
  stroke: var(--pf-t--global--color--brand--default);
}

.tp-plugin__topology_node_badge text {
  fill: var(--pf-t--global--text--color--on-brand--default);
}

.tp-plugin__topology_marker_badge {
  --pf-v6-c-badge--BackgroundColor: var(--pf-t--global--color--brand--default);
  --pf-v6-c-badge--Color: var(--pf-t--global--text--color--on-brand--default);
}

.tp-plugin__topology_node--disabled {
  opacity: 0.5;
  filter: grayscale(100%);
  pointer-events: auto;
}
